<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Rocket{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body><!-- Always shows a header, even in smaller screens. -->
        <div id="app"></div>
        <script>
            window.__TASKS = {{ tasks | raw }}
        </script>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
